:root{
    --black:#0D0D0D;
    --red:#D92414;
    --orange:#F24405;
    --dark-blue:#024059;
    --blue:#024873;
    --white:#fff;
    --transition: .5s all ease;


}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
a{
    color: black;
}
html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--white);
    overflow-X: hidden;
    

}  
section{
    transition: var(--transition);
}
.section__hidden{
    transition: padding 1s;    
}
.btn{
    background: transparent;
    border-radius: 6px;
    padding: .5rem;
    margin: .2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.overlay{
    width: 200vw;
    height: 1000vh;
    backdrop-filter: blur(3px);
    z-index: 3;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    }
    .hidden{
        display: none;
    }
.modal__hidden{
    display: none;
}

#nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.container{
    padding: .2rem 4rem;
}
.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 6;
    top: 0;
    right: 0;
    background-color: var(--blue);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.685);
    position: relative;
    
}
.nav__sticky{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
}
.logo{
    font-family: 'Bigelow Rules', cursive;
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
    position: relative;
}
.logo span{
    color: var(--orange);
}
.nav__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  
}
.nav__items{
    position: relative;
}
.bugger__btn{
    position: absolute;
    font-size: 1.5rem;
    bottom: -1rem;
    right: -1rem;
    color: var(--red);
    padding: 0 .3rem;
    outline: none;
    background: none;
    border-color: var(--red);
    display: none;
}
.close__btn{
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    color: var(--red);
    padding: 0 .3rem;
    outline: none;
    background: var(--white);
    border-color: var(--white);
    border-radius: 5px;
    display: none;
    
}
.links{
    padding: 6px;
    border-radius: 4px;
}
.links a{
    transition: var(--transition);
    color: var(--white);
    width: 100%;
    height: 100%;
    
}

.links a:hover{
    letter-spacing: 2px;
}

#hero{
    
    position: relative;
    width: 100%;
    height: 100%;

}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top center;
}
.swiper {
    width: 100%;
    height: 500px;
    position: relative;
  } 

.fa-circle-arrow-left{
    left: 1rem;
    cursor: pointer;
}
.fa-circle-arrow-right{
    right: 1rem;
    cursor: pointer;
}
.swiper__arrows{
    position: absolute;
    top: 40%;
    font-size: 2rem;
    z-index: 3;
    color: var(--white);
    transition: var(--transition);
}
.swiper__arrows:hover{
    color: var(--blue);
}
.swiper__btn{
    width: .5rem;
    height: .5rem;
}
#products{
    width: 100%;
    height: 100%; 
    
  
}
.cards, .cards1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr ));
    margin: auto;
    padding: 2rem 4rem;
    grid-gap: 1rem;
    
}

.card__box{
    position: relative;
    width: 100%;
    height: 20em;
    background-color: var(--white);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    transition: var(--transition);
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
}
.card__box:hover{
    transform: scale(1.03);
}
.card__head__text{
    font-size: .9rem;
    font-weight: 900;
}
.card__description__text{
    font-size: .8rem;
}
.card__text{
    padding: .5rem 1.3rem;
    overflow: hidden;

}
.card__text h3{
    margin-bottom: 1rem;
}
.card__text .price{
    margin-top: 1rem;
    text-align: right;

    color: var(--red);

}
.card__image{
    margin: auto;
    display: flex;
    padding: 1.9rem;
    height: 9em;
    object-fit:cover;
}
.buy__btn{
    width: 90%;
    margin: 1rem auto;
    display: block;
    border: 2px solid var(--red);
    text-align: center;
    padding: .5rem;
    border-radius: 8px;
}
.card__banner{
    height: 20em;
    width: 100%;
}
.title{
    padding: 4rem 0;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: var(--red);
}
/* about */
#about{
     width: 100%;
    height: 100%;
    padding:0 4rem ;
    position: relative;
}
.about__content{
   position: relative;
    /* border: 2px solid red; */
}
.about__box{
   border: 2px solid var(--yellow);
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   background: var(--blue);
   padding: 2rem;
   align-content: center;
   justify-content: center;
   gap: 2rem;
   border-radius: 8px;
}
.about__text{
    color: var(--white);
    margin: auto;
    letter-spacing: 1px;
    line-height: 1.4rem;
}
.about__img{
    
    width: 10em;
    height: 10em;
    object-fit: cover;
    object-position: right top;
    border-radius:50% ;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;


}
.contact{
    display: flex;
    align-items: center;
    
}
.input__field{
    padding: .3rem;
    font-weight: 400;
    outline: none;
    margin: .7rem 0;
    border-color: var(--blue);
    width: 80%;
    display: block;
    border-radius: 6px;
}
.news__title{
    padding-top: 2rem;
    margin: auto;
    font-size: 1.5rem;
    
}
.message__field{
    width: 75%;
}
.message__btn{
    padding: .5rem;
    width: 50%;
    outline: none;
    background: var(--orange);
    border: none;
    border-radius: 6px;
    color: var(--white);
    font-size: 1.2rem;
}
.socials{
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
    cursor: pointer;
    width: 2rem ;
    margin: auto;
    padding: .4rem 0;
    background-color:  var(--white);
    box-shadow: 1px 4px 10px  rgba(214, 209, 209, 0.5);
    border-radius: 4px;
    

}
.socials a{
    outline: none;
    background: none;
}
.fa-brands{
 font-size: 1rem;
 width: 100%;
 height: 70%;
 transition: var(--transition);

    
}
.fa-brands:hover{
 font-size: 2rem;
    
}
.fa-whatsapp:hover{
    color: green;
}
.fa-facebook:hover{
    color: blue;
}
.fa-instagram:hover{
    color: red;
}
.CTA__btn{
    opacity: 0;
    font-size: 2rem;
    animation: CTA__Animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.CTA__btn:hover{
    color: var(--orange);
}
.CTA__sticky{
    position: fixed;
    z-index: 10;
    opacity: 1;   
    bottom: 2rem;
    right: 1px;
    mix-blend-mode:difference;
}
@keyframes CTA__Animation{
    0%{transform: scale(1);
        color: var(--dark-blue);
    }
    20%{
        color: var(--red);
    }
    50%{transform: scale(1.2);
    color: var(--orange);
    }
    80%{
        color: var(--orange);
        transform: scale(1.5);
    }
    100%{transform: scale(1);
        color:var(--blue);}
}
#contributors{
    padding:  4rem;
    margin: auto;
    height: 100%;
    width: 100%;
}
.operations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.operation__content__box {
    width: 100%;
    height: 100%;
    position: relative;
}
.operation__flex{
    background: var(--white);
    padding: 1rem;
    top: 0;
    right: 0;    
    display: none;
}
.operation__content{
    color: var(--white);
    line-height: 1.5rem;
    margin-bottom: 2rem;
}
.operation__content--1{
    background: var(--blue);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.operation__content--2{
    background: var(--orange);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.operation__content--3{
    background: var(--red);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
.operation__btn--1{
    border-color: var(--blue);
    background: var(--white);
    color: var(--blue);
}
.operation__btn--2{
    color: var(--orange);
    border-color: var(--orange);

}
.operation__btn--3{
    border-color: var(--red);
    color: var(--red);
}
.sponsor__head{
    padding: 2rem 0;
}
.content__active{
    row-gap: 0.5rem;
    display: block;
}
.operation__btn__container{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
#portfolio{
    width:  100%;
    height: 100%;
    padding: 4rem;
}
.portfolio__slider{
    width: 200px;
    height: 400px;
    position: relative;

}

.portfolio__slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    cursor: pointer;

}
#footer{
    width: 100%;
    height: 100%;
    padding-top: 4rem;
}
.footer__container{
    background: var(--dark-blue);
    width: 100%;
    height: 100%;
}
.footer__content{
    color: var(--white);
    text-align: center;
    font-size: .8rem;
    padding: 2rem;
}
.footer__list{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    color: var(--white);
}
.footer__list li a{
    opacity: .5;
    transition: var(--transition);
    color: var(--white);
}
.footer__list li a:hover{
    opacity: 1;
    letter-spacing: 2px;
}
.footer__socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 4rem;
    color: var(--white);
}
.footer__head{
    padding: 2rem;
}
.copyright{
    font-size: .7rem;
    opacity: .5;
    margin-top: 1rem;

}
.active{
   border-bottom: 2px solid var(--white);
}

.account__btn{
    background: var(--orange);
    color: var(--white);
    border: none;
    transition: var(--transition);
}
.account__btn:hover{
    letter-spacing: 2px;
}

.account__box a, p, h1{
    color: var(--white);
}


.modal__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 70px;
    right: 4rem;
    background: #024059ad;
    color: var(--white);
    padding: 3rem;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 3;

}
.sign__field{
    width: 100%;
}
.sign__btn{
    width: 60%;
    margin: .5rem auto;
    display: flex;
    outline: none;
    border-color: var(--red) ;
    color: var(--white);
    font-weight: 700;
    background:#D92414;
    align-items: center;
    justify-content: center;

}
.reg__btn{
    background: var(--orange);
    color: var(--white);
    margin: 2rem auto;
    display: flex;
    width: 70%;
    justify-content: center;
    
}
.modal__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: .2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    width: 1.5rem;
    height: 1.5rem;
    border-color: var(--red);
    color: var(--orange);
    
}
.modal__hidden{
    display: none;
}







@media (max-width:903px){
    .overlay{
    width: 200vw;
    height: 1000vh;
    backdrop-filter: blur(3px);
    z-index: 3;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    }
    .container{
        padding: .2rem 2rem;
    }
    .account__box{
        position: fixed;
        width: 80%;
    }
    .hidden{
        display: none;
    }
    .btn__hide{
        display: block;


    }
    .bugger__btn{
        animation: navRotate;
        animation-duration: .8s;
        animation-iteration-count: 1;
    }
    .close__btn{
        animation: navRotate;
        animation-duration: .8s;
        animation-iteration-count: 1;
    }
    .nav__links::after{
        content: '';
    animation: navTransition;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-play-state: running;
    }
    .nav__links {
    flex-direction: column;
    width: 300px;
    height: 100vh;
    position: absolute;
    background-color: var(--blue);
    z-index: 8;
    right: -2rem;
    top: 1rem;
    border-radius:0 0 12px  12px  ;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    animation: navTransition;
    animation-duration: .5s;
    animation-iteration-count: 1;
    }
  

    @keyframes navTransition{
        50%{transform: translate(70px, 10px);}

    }
    @keyframes navRotate{
        70%{transform: rotate(80deg);}
        100%{transform: rotate(0deg);}

    }


    .links{
        border: none;
    }

    .cards, .cards1{
        padding: 2rem ;
    }
    #about{
        width: 100%;
       height: 100%;
       padding:0 2rem ;
   }
    .about__box{
        display: block;
    }
    .about__img{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: auto;
        margin-bottom: 1rem;
    }
    #contributors{
        padding: 4rem 2rem;
    }
    #portfolio{
        padding: 2rem;
    }
}
@media (max-width:790px){
    .fa-circle-arrow-right, .fa-circle-arrow-left{
        visibility: hidden;

    }
    .fa-whatsapp:hover{
        color: var(--black);
    }
    .fa-facebook:hover{
        color: var(--black);
    }
    .fa-instagram:hover{
        color: var(--black);
    }
    .fa-brands:hover{
        font-size: 1rem;
           
       }
}
