
.reg__form{
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background-image: linear-gradient(rgba(0, 215, 253, 0.4) 30%, rgba(184, 0, 0, 0.4)70% ), url('https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.input__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: fit-content;
    background: #024873c5;
    padding: 4rem;
    margin: auto;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(2, 18, 20, 0.4);
    
}
.passbox{
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    position: relative;
    background: var(--white);
    margin: 1rem 0;
}
.userIcon{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: .5rem;
    color: var(--white);
}
.fa-user{
    font-size: 2rem;
    color: var(--orange);
}
.reg__field{
    padding: .5rem;
    width: 80%;
    border:none;
    outline: none;
    font-size: 1rem;
    
}
.toggle__btn{
    position: absolute;
    top: 4px;
    right: 6px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    background: var(--red);
    color: var(--white);
}
.toggle__btn::before{
    content: '\f06e';
    font-family: fontAwesome;
    font-size: 1.5rem;
}
.toggle__btn.hide::before{
    content: '\f070';
    font-family: fontAwesome;
    font-size: 1.5rem;
}
.policy{
    text-decoration: underline;
    color: var(--white);
}
.Submit__btn{
    margin-top: 1rem  ;
}
 @media (max-width:1452px){
    .input__box{
        width: 35%;
    }
 }
 @media (max-width:880px){
    .input__box{
        width: 50%;
    }
    .reg__field{
        width: 100%;
    }
    .input__box{
        padding: 4rem 2rem;
    }
 }
 @media (max-width:600px){
    .input__box{
        width: 100%;
    }
 }